<div class="jumbotron">
    <h1>SpaceX Launch Programs</h1>
<div class="row">
    <div class="col-lg-2 col-sm-12">
        <app-spacex-filter (fetchDataByYear)="fetchDataByYear($event)" 
        (fetchDataByLaunch)="fetchDataByLaunch($event)" 
        (fetchDataByLanding)="fetchDataByLanding($event)"
        [launchYear]="launchYear" 
        [successfulLaunch]="successfulaunch" 
        [successfulLanding]="successfulLanding"
        ></app-spacex-filter>
    </div>
    <div class="col-lg-10 col-sm-12">
        <app-space-x-item [launchYear]="launchYear" [successfulLaunch]="successfulaunch" [successfulLanding]="successfulLanding"></app-space-x-item>
    </div>
</div>
</div>
<div class="loader" *ngIf="showLoader">
    <img src="..\assets/images/load-icon-windows-10-loading-icon-11553444903hzeejh1fp0.png">
</div>




